{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{@site.accent_color}}">
        {{#has visibility="paid"}}
            <h2>Este {{#is "page"}}contenido{{else}}artículo{{/is}} es solo para miembros</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>Este {{#is "page"}}contenido{{else}}artículo{{/is}} es solo para miembros gratuitos</h2>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>Este {{#is "page"}}contenido{{else}}artículo{{/is}} es para suscriptores de {{tiers}}</h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" href="#/portal/account/plans" style="color:{{@site.accent_color}}">Comienza a leer</a>
        {{else}}
            <a class="gh-btn" data-portal="signup" href="#/portal/signup" style="color:{{@site.accent_color}}">Lee gratis</a>
            <p><small>¿No has iniciado sesión? <a data-portal="signin" href="#/portal/signin">Iniciar sesión</a></small></p>
        {{/if}}
    </div>
</aside>