{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-article{{/contentFor}}

{{#post}}
<article class="js-post-article {{post_class}}" data-url="{{url}}" data-title="{{title}}" data-id="{{id}}">
    <section class="post container mx-auto my-10">
        <div class="col s12 flex-none w-full">
            {{!-- Article Header --}}
            {{> "article/article-header"}}
        </div>
        <div class="flex flex-col">
            <div class="min-w-0 flex-auto">
                {{!-- Featured Image --}}
                {{> "article/article-media"}}

                {{!-- Article Content --}}
                {{> "article/article-body"}}

                {{!-- Article Author --}}
                {{> "components/author-meta"}}

                {{!-- Comments Section --}}
                {{> "article/article-comments"}}
            </div>
        </div>
    </section>

    {{!-- Related Section --}}
    {{> "article/article-related"}}

    {{!-- Data for Infinite Scroll --}}
    <div class="js-next-post-data" style="display:none;">
        {{#prev_post}}
            <input type="hidden" class="js-next-post-url" value="{{url}}">
            <input type="hidden" class="js-next-post-title" value="{{title}}">
            <input type="hidden" class="js-next-post-id" value="{{id}}">
        {{/prev_post}}
    </div>
</article>
{{/post}}