{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-single-post has-cover is-head-transparent{{/contentFor}}

<div class="js-infinite-container">
    {{#post}}
    <article class="js-post-article {{post_class}}" data-url="{{url}}" data-title="{{title}}" data-id="{{id}}">
        {{!-- Article Header Cover - partials/article/article-header-cover.hbs --}}
        {{> "article/article-header-cover"}}

        <div class="post container mx-auto max-w-3xl my-8 px-4 md:px-0">
            {{!-- Article Author - partials/components/author-meta.hbs --}}
            {{> "components/author-meta"}}

            {{!-- Article Content - partials/article/article-body.hbs --}}
            {{> "article/article-body"}}

            {{!-- Comments Section --}}
            {{> "article/article-comments"}}
        </div>

        {{!-- Related Articles - partials/article/article-related.hbs --}}
        {{> "article/article-related"}}

        {{!-- Infinite Scroll Metadata --}}
        {{#prev_post}}
        <div class="js-next-post-data hidden" data-url="{{url}}" data-title="{{title}}" data-id="{{id}}">
            <input type="hidden" class="js-next-post-url" value="{{url}}">
            <input type="hidden" class="js-next-post-title" value="{{title}}">
        </div>
        {{/prev_post}}
    </article>

    {{!-- Pagination trigger --}}
    {{#prev_post}}
    <div class="pagination-fallback hidden">
        <a href="{{url}}" class="js-next-post-link">Next</a>
    </div>
    {{/prev_post}}
    {{/post}}
</div>