{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-article{{/contentFor}}

<div class="container mx-auto flex flex-col lg:flex-row my-10">

    {{!-- This column is now the target. It keeps the original 'flex-auto' class for your layout. --}}
    <div class="min-w-0 flex-auto js-infinite-container">
        {{#post}}
        {{!-- We wrap the article in a div to act as the appended unit --}}
        <div class="js-post-article" data-url="{{url}}" data-title="{{title}}">
            <article class="post">
                {{#unless feature_image}}
                    <div class="lg:pl-20">
                        {{> "article/article-header"}}
                        {{> "components/author-meta"}}
                    </div>
                {{else}}
                    {{> "article/article-header"}}
                    {{> "components/author-meta"}}
                {{/unless}}

                {{> "article/article-media"}}
                {{> "article/article-body"}}

                <div class="article-comments">
                    {{> "article/article-comments"}}
                </div>

                {{!-- Prefetch metadata for the next link --}}
                {{#next_post}}
                    <div class="js-next-post-data hidden" data-url="{{url}}"></div>
                {{/next_post}}
            </article>
        </div>
        {{/post}}
    </div>

    {{!-- Sidebar stays outside the scroll zone --}}
    {{> "sidebar"}}

    {{!-- Hidden navigation link for the engine --}}
    {{#next_post}}
        <div class="pagination-fallback hidden">
             <a href="{{url}}" class="js-next-post-link">Next</a>
        </div>
    {{/next_post}}

</div>

{{!-- Related Articles --}}
{{> "article/article-related"}}