{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-article{{/contentFor}}

{{!-- Main Container for Infinite Scroll --}}
<div class="container mx-auto flex flex-col lg:flex-row my-10 js-infinite-container">

    {{!-- WRAPPER: This div is what gets cloned. We store metadata here. --}}
    <div class="js-post-article min-w-0 flex-auto post-wrapper" data-url="{{url}}" data-title="{{title}}">
        {{#post}}
        <article class="post">
            {{#unless feature_image}}
                <div class="lg:pl-20">
                    {{> "article/article-header"}}
                    {{> "components/author-meta"}}
                </div>
            {{else}}
                {{> "article/article-header"}}
                {{> "components/author-meta"}}
            {{/unless}}

            {{> "article/article-media"}}
            {{> "article/article-body"}}

            <div class="article-comments">
                {{> "article/article-comments"}}
            </div>
        </article>
        
        {{!-- Data for the NEXT-NEXT prefetch (hidden inside the loaded content) --}}
        {{#next_post}}
             <div class="js-next-post-data hidden" data-url="{{url}}"></div>
        {{/next_post}}

        {{/post}}
    </div>

    {{!-- Sidebar --}}
    {{> "sidebar"}}

    {{!-- NAVIGATION / FALLBACK --}}
    {{#next_post}}
        <div class="w-full text-center py-8 pagination-fallback">
             <a href="{{url}}" class="js-next-post-link inline-block px-6 py-3 border border-gray-200 rounded-full hover:bg-gray-50 transition-colors">
                {{t "Read next"}}: <strong>{{title}}</strong>
             </a>
        </div>
    {{/next_post}}

</div>

{{!-- Related Articles --}}
{{> "article/article-related"}}