{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-article{{/contentFor}}

{{!-- The js-infinite-container is on the existing flex parent to keep layout --}}
<div class="container mx-auto flex flex-col lg:flex-row my-10 js-infinite-container">

    {{#post}}
    {{!-- js-post-article is on the existing article tag to keep CSS selectors working --}}
    <article class="post min-w-0 flex-auto js-post-article" data-url="{{url}}" data-title="{{title}}">
        {{#unless feature_image}}
            <div class="lg:pl-20">
                {{> "article/article-header"}}
                {{> "components/author-meta"}}
            </div>
        {{else}}
            {{> "article/article-header"}}
            {{> "components/author-meta"}}
        {{/unless}}

        {{> "article/article-media"}}
        {{> "article/article-body"}}

        <div class="article-comments">
            {{> "article/article-comments"}}
        </div>

        {{!-- Hidden metadata for the scroll engine --}}
        {{#next_post}}
            <div class="js-next-post-data hidden" data-url="{{url}}"></div>
        {{/next_post}}
    </article>
    {{/post}}

    {{!-- Sidebar --}}
    {{> "sidebar"}}

    {{!-- Hidden fallback link --}}
    {{#next_post}}
        <div class="pagination-fallback hidden">
             <a href="{{url}}" class="js-next-post-link">Next</a>
        </div>
    {{/next_post}}

</div>

{{!-- Related Articles --}}
{{> "article/article-related"}}