{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-article{{/contentFor}}

<div class="container mx-auto flex flex-col lg:flex-row my-10">

    {{!-- This wrapper ensures new articles stack correctly before the sidebar --}}
    <div class="js-infinite-container min-w-0 flex-auto">
        {{#post}}
        {{!-- js-post-article is the unit that gets cloned and appended --}}
        <article class="post js-post-article" data-url="{{url}}" data-title="{{title}}">
            {{#unless feature_image}}
                <div class="lg:pl-20">
                    {{> "article/article-header"}}
                    {{> "components/author-meta"}}
                </div>
            {{else}}
                {{> "article/article-header"}}
                {{> "components/author-meta"}}
            {{/unless}}

            {{> "article/article-media"}}
            {{> "article/article-body"}}

            <div class="article-comments">
                {{> "article/article-comments"}}
            </div>

            {{!-- Metadata for the next post in the sequence --}}
            {{#next_post}}
                <div class="js-next-post-data hidden" data-url="{{url}}"></div>
            {{/next_post}}
        </article>
        {{/post}}
    </div>

    {{!-- Sidebar remains a direct sibling of the scroll container --}}
    {{> "sidebar"}}

    {{!-- Hidden navigation link for the engine to discover the first 'next' URL --}}
    {{#next_post}}
        <div class="pagination-fallback hidden">
             <a href="{{url}}" class="js-next-post-link">Next</a>
        </div>
    {{/next_post}}

</div>

{{!-- Related Articles --}}
{{> "article/article-related"}}