{{!-- Layout --}}
{{!< default }}

{{#contentFor "M4_class_body"}}is-article{{/contentFor}}

{{!-- The container must be outside the #post block to be detected on page load --}}
<div class="js-infinite-container">
    {{#post}}
    <article class="js-post-article {{post_class}}" data-url="{{url}}" data-title="{{title}}" data-id="{{id}}">
        <section class="post container mx-auto my-10 px-4 md:px-0">
            <div class="flex flex-col lg:flex-row gap-10">
                <div class="min-w-0 flex-auto">
                    {{!-- Article Header --}}
                    {{> "article/article-header"}}

                    {{!-- Featured Image --}}
                    {{> "article/article-media"}}

                    {{!-- Article Content --}}
                    {{> "article/article-body"}}

                    {{!-- Comments Section --}}
                    {{> "article/article-comments"}}
                </div>

                {{!-- Sidebar is inside the article wrapper so it cuts off correctly --}}
                {{> "sidebar"}}
            </div>
        </section>

        {{!-- Related Section --}}
        {{> "article/article-related"}}

        {{!-- Data for Infinite Scroll: We use prev_post to ensure the feed continues back in time --}}
        {{#prev_post}}
        <div class="js-next-post-data hidden" data-url="{{url}}" data-title="{{title}}" data-id="{{id}}">
            <input type="hidden" class="js-next-post-url" value="{{url}}">
            <input type="hidden" class="js-next-post-title" value="{{title}}">
        </div>
        {{/prev_post}}
    </article>

    {{!-- Pagination trigger for initial script activation --}}
    {{#prev_post}}
    <div class="pagination-fallback hidden">
        <a href="{{url}}" class="js-next-post-link">Next</a>
    </div>
    {{/prev_post}}
    {{/post}}
</div>